#back {
    background: rgba(0, 0, 0, 0.933);

}
.row {
    display: flex;
    justify-content: center;
}

.card {
    background-color: rgb(250,251,252);    
    color: aliceblue;
    height: 115px;
    width: 300px;
    border: 3px solid black;
    border-radius: 15px;
    padding: 2rem;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 25%;
}

.card a {
    text-decoration: none;
}

footer{
    margin-top: 5ex;
    margin-bottom: 3ex;
    padding-bottom: 2ex;
}

